# Time Series Analysis

## Data Acquisition

In [1]:
import pandas as pd
import requests
import os
import acquire

1) Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [2]:
def get_items(use_cache=True):
    
    filename = 'items.csv'
    if os.path.exists(filename) and use_cache:
        return pd.read_csv(filename)
    
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/items'
    items = []

    while endpoint != None:
        url = domain + endpoint
        response = requests.get(url)
        data = response.json()
        items.extend(data['payload']['items'])
        endpoint = data['payload']['next_page']

    items = pd.DataFrame(items)
    items.to_csv('items.csv',index=False)
    return items

In [3]:
items = acquire.get_items()
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

2) Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [4]:
def get_stores(use_cache=True):
    
    filename = 'stores.csv'
    if os.path.exists(filename) and use_cache:
        return pd.read_csv(filename)
    
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/stores'
    stores = []

    while endpoint != None:
        url = domain + endpoint
        response = requests.get(url)
        data = response.json()
        stores.extend(data['payload']['stores'])
        endpoint = data['payload']['next_page']

    stores = pd.DataFrame(stores)
    stores.to_csv('stores.csv',index=False)
    return stores

In [5]:
stores = acquire.get_stores()
stores.head()

             store_address   store_city  store_id store_state  store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX          78253
1         9255 FM 471 West  San Antonio         2          TX          78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX          78201
3          516 S Flores St  San Antonio         4          TX          78204
4          1520 Austin Hwy  San Antonio         5          TX          78218

3) Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [6]:
# url = 'https://api.data.codeup.com/api/v1/sales'
# requests.get(url).json()

In [7]:
def get_sales(use_cache=True):
    
    filename = 'sales.csv'
    if os.path.exists(filename) and use_cache:
        return pd.read_csv(filename)
    
    domain = 'https://api.data.codeup.com'
    endpoint = '/api/v1/sales'
    sales = []

    while endpoint != None:
        url = domain + endpoint
        response = requests.get(url)
        data = response.json()
        sales.extend(data['payload']['sales'])
        endpoint = data['payload']['next_page']
        print(f'\r{endpoint}', end =' ')

    sales = pd.DataFrame(sales)
    sales.to_csv('sales.csv',index=False)
    return sales

In [8]:
sales = acquire.get_sales()
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

4) Save the data in your files to local csv files so that it will be faster to access in the future.

In [9]:
# sales.to_csv('sales.csv')

5) Combine the data from your three separate dataframes into one large dataframe.

In [10]:
# combined = sales.merge(items,left_on='item',right_on='item_id').merge(stores,left_on='store',right_on='store_id')
# combined.head()

In [11]:
def combine(sales, items, stores):
    
    combined = sales.merge(items,left_on='item',right_on='item_id')
    combined = combined.merge(stores,left_on='store',right_on='store_id')
    
    return combined

In [12]:
combine = combine(sales,items,stores)
combine.shape

(913000, 16)

6) Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [16]:
power = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
power.shape

(4383, 5)

In [14]:
def get_power_data(use_cache=True):
    '''
    A function to acquire the German power systems data
    '''
    # Assign filename to look up
    filename = 'german_power.csv'
    
    #Check for file and return csv if present
    if os.path.exists(filename) and use_cache:
        return pd.read_csv(filename)
    
    # Aquire data
    power = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')
    
    # Assign to CSV
    power.to_csv('german_power.csv',index=False)
    
    # Return power
    return power

In [15]:
power = acquire.get_power_data()
power.shape

(4383, 5)

7) Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.